.login-section
  %button
    %i.icon-facebook-sign.icon-2x
    = link_to "Sign in with Facebook", "/auth/facebook"

  %button
    %i.icon-twitter-sign.icon-2x
    = link_to "Sign in with Twitter", "/auth/twitter"

%hr

.login-section

  %p
    = form_tag sessions_path do
      = text_field_tag :email, params[:email], placeholder: 'Email'
      = password_field_tag :password, params[:password], placeholder: 'Password'
      = submit_tag 'Login', class: :button

.login-section
  %p= link_to 'Register', register_path
