<h1>Listing offerings</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Amount</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @offerings.each do |offering| %>
    <tr>
      <td><%= offering.title %></td>
      <td><%= offering.description %></td>
      <td><%= offering.amount %></td>
      <td><%= link_to 'Show', offering %></td>
      <td><%= link_to 'Edit', edit_offering_path(offering) %></td>
      <td><%= link_to 'Destroy', offering, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<br />

<%= link_to 'New Offering', new_offering_path %>
