<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @offering.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @offering.description %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @offering.amount %>
</p>


<%= link_to 'Edit', edit_offering_path(@offering) %> |
<%= link_to 'Back', offerings_path %>
