= form_for @user do |f|

  - if @user.errors.any?
    #error_explanation
      %h2
        = pluralize(@user.errors.count, "error")
        prohibited this offering from being saved:
      %ul
        - @user.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :first
    = f.text_field :first, placeholder: 'First'
  .field
    = f.label :last
    =f.text_field :last, placeholder: 'Last'
  .field
    = f.label :email
    =f.text_field :email, placeholder: 'Email'
  .actions
    =f.submit 'Login'

