%h1 Local Activities

%p
  For those of you coming in from further afield and using Chicago as a base, here are some of our favorite things to see and do in the Windy City:

%h2 The Loop:

%p
  The
  =link_to 'Art Institute of Chicago.', 'http://www.artic.edu/', target: "_blank"
  A world class museum and Leslie's place of employment. Have a visit and pretend you're Ferris Bueller.

%p
  Of course you also have to see nearby Millennium Park with Anish Kapoor's Cloud Gate, better known as The Bean. It's iconic Chicago and a source of great pride for the city.

%p
  =link_to 'The Berghoff.', 'http://www.theberghoff.com/', target: "_blank"
  First opened in 1898, it's Chicago's oldest restaurant. A good place for a cold beer and some schnitzel. We go there for after work drinks!

%p
  =link_to 'Palmer House Hilton.', 'http://www3.hilton.com/en/hotels/illinois/palmer-house-a-hilton-hotel-CHIPHHH/dining/index.html', target: "_blank"
  Come here for a drink in the historic Lobby Bar.

%p
  The Chicago Architecture Foundation. This is THE organization to use for the architectural
  = link_to 'boat tour', 'http://www.architecture.org/page.aspx?pid=574', target: "_blank"
  of THE capital of modern architecture in the U.S. and A. Be sure to book in advance. It's one of the top things to do when you visit Chicago and on a beautiful day it can't be beat. They also have a great
  = link_to 'shop for design-y souvenirs.', 'http://www.architecture.org/page.aspx?pid=618', target: "_blank"



%h2 South Loop/Little Italy:

%p
  = link_to 'Nightwood Restaurant.', 'http://nightwoodrestaurant.com/', target: "_blank"
  A little off the beaten path but an absolute delight.

%h2 River North:

%p
  = link_to 'Fedora Lounge', 'http://fedoraloungechicago.com/', target: "_blank"
  (formerly the Shady Lady, where Tatum and Leslie met). Admittedly, it's not the greatest place but it IS where we met, so if you want wedding street cred this is where to get it.

%p
  If it's hot out, go to
  = link_to 'Oak Street Beach.', 'http://www.yelp.com/biz/oak-street-beach-chicago', target: "_blank"
  It's great to sit on a white sand beach in the middle of the city. Chicago's skyline will be your backdrop.

%h2 Old Town and Lincoln Park:

%p
  = link_to 'R.J Grunt\'s.', 'http://www.rjgruntschicago.com/', target: "_blank"
  A very family friendly restaurant and a bit of a Chicago institution. It will immediately transport you back to 1974 courtesy of classic soft rock. One of our favorite things to do is sit at the bar and eat chicken wings. Yes, I just typed that.

%p
  =link_to 'Second City.', 'http://www.secondcity.com/', target: "_blank"
  Chicago is known for comedy. See where Tina Fey, John Belushi, Gilda Radner, Dan Aykroyd, Steve Carell, Stephen Colbert, Alan Arkin and many others got their start. Look at their
  =link_to 'alumni.', 'http://www.secondcity.com/history/alumni/', target: "_blank"
  The list will blow your mind!

%h2 Andersonville:

%p
  Worth a trip to go to the
  = link_to 'Green Mill', 'http://greenmilljazz.com/', target: "_blank"
  for a night of Jazz.