%ul
  %li= link_to 'Welcome', welcome_path
  %li= link_to 'Gifts', gifts_path
  %li= link_to 'Our Story', our_story_path
  %li= link_to 'Calendar of Events', calendar_path
  %li= link_to 'Ceremony & Reception', ceremony_and_reception_path
  %li= link_to 'Wedding Party and Family', wedding_party_and_family_path
  %li= link_to 'Directions', directions_path
  %li= link_to 'Accommodations', accommodations_path
  %li= link_to 'Local Activities', local_activities_path
  %li= link_to 'What To Bring', what_to_bring_path
  %li= link_to 'Partners in Crime', partners_in_crime_path
  %li= link_to 'Registry', registry_path
  %li= link_to 'Guest Book', guest_book_path
  %li= link_to 'FAQ', faq_path
  %li= link_to 'Contact Us', contact_us_path