!!!
%html
  %head
    %title Tatum and Leslie
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
    = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Reenie+Beanie'
  %body
    .wrapper
      .container-row.heading-row
        .heading
          =render 'layouts/heading'
      .container-row
        .navigation
          =render 'layouts/side_navigation'
        .content-body
          = yield
      .container-row
        .footer
          =render 'layouts/footer'
