!!!
%html
  %head
    %title Tatum and Leslie
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
    //= stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Reenie+Beanie'
    = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Antic+Didone|Dancing+Script|Cherry+Swash|Comfortaa'
    %script{:src => "http://maps.google.com/maps/api/js?sensor=true", :type => "text/javascript"}
    %script{:src => "https://raw.github.com/HPNeo/gmaps/master/gmaps.js", :type => "text/javascript"}

  %body
    .wrapper
    .container-row.heading-row
      .flower
      =render 'layouts/heading'



    .container-row.body
      .navigation
        =render 'layouts/side_navigation'
      .content-body
        = yield
    .container-row
      .footer
        =render 'layouts/footer'
